@page "{aquariumId:int}"

@model AquariumDetails
@{
    ViewData["Title"] = "Aquariums";
}
@if(Model.Message != null)
{
    <div class="alert- alert-info">@Model.Message</div>
}
<h1>@Model.Aquarium.Name</h1>
<div>

</div>
<div>
    Capacity (Gallons): @Model.Aquarium.Capacity
</div>
<div>
    Type: @Model.Aquarium.Type
</div>
<div>
    Description: @Model.Aquarium.Description
</div>
